<?xml version="1.0" encoding="UTF-8"?>
<!-- scan=true:当配置文件更改时，自动加载 -->
<configuration scan="true" debug="true">
    <!-- 日志路径，这里是相对路径， -->
    <property name="log.home" value="${log.home}" />
    <!-- 日志级别 -->
    <property name="log.level" value="${log.level}" />

    <appender name="TIGER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/tiger.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/tiger.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="TIGER_DEBUG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/tiger_debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/tiger_debug.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="TIGER_INFO_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/tiger_info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/tiger_info.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="TIGER_ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/tiger_error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/tiger_error.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONNECT_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/connect/tiger_connect.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/connect/tiger_connect.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CACHE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/cache/tiger_cache.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/cache/tiger_cache.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ZK_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/zk/tiger_zk.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/zk/tiger_zk.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="HEARTBEAT_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/heartbeat/tiger_heartbeat.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/heartbeat/tiger_heartbeat.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="HTTP_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/http/tiger_http.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/http/tiger_http.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="PUSH_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/push/tiger_push.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/push/tiger_push.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="PROFILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/profile/tiger_profile.log</file>
        <append>true</append>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出位置  可相对、和绝对路径 -->
            <fileNamePattern>${log.home}/profile/tiger_profile.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- System.out 或 System.err。默认为 System.out -->
        <target>System.out</target>
        <!-- 彩色代码 需要添加 org.fusesource.jansi:jansi 这个jar -->
        <!--<withJansi>true</withJansi>-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="${log.level}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TIGER_APPENDER"/>
        <appender-ref ref="TIGER_DEBUG_APPENDER"/>
        <appender-ref ref="TIGER_INFO_APPENDER"/>
        <appender-ref ref="TIGER_ERROR_APPENDER"/>
    </root>

    <logger name="tiger.console.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="tiger.connect.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONNECT_APPENDER"/>
    </logger>

    <logger name="tiger.cache.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CACHE_APPENDER"/>
    </logger>

    <logger name="tiger.zk.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ZK_APPENDER"/>
    </logger>

    <logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="ZK_APPENDER"/>
    </logger>

    <logger name="tiger.heartbeat.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="HEARTBEAT_APPENDER"/>
    </logger>

    <logger name="tiger.http.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="HTTP_APPENDER"/>
    </logger>

    <logger name="tiger.push.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="PUSH_APPENDER"/>
    </logger>

    <logger name="tiger.profile.log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="PROFILE_APPENDER"/>
    </logger>
</configuration>